{% extends "base.html" %}

{% block corps %}
<div class="container " >
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      {#<div>{{ error }}</div> #}

      {% for message in form.dest.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      <form action="{{url_for("result")}}" method = "POST">
         <fieldset>
            <legend >{{title}}</legend>
            {{ form.hidden_tag() }}

            <div >
               {{ form.origin.label }}<br>
               {{ form.origin }}

               {{ form.dest.label }} <br>
               {{ form.dest }}

               {{ form.carrier.label }} <br>
               {{ form.carrier }}

                {{ form.dep_day.label }}<br>
               {{ form.dep_day }}

                {{ form.dep_time.label }}<br>
               {{ form.dep_time }}

               {{ form.departed.label }}
                   <input type="checkbox" name="departed" value=True />
                   <input type="hidden" name="departed" value=False />
               <div style="height:1px;font-size:10px;">Check if flight has departed</div>


               <br>

               {{ form.submit }}
            </div>

         </fieldset>
      </form>
     </div>
    </div>
</div>
{% endblock %}
